<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="logo" href="{{ url_for('main') }}">
                <img src="https://bit.ly/3Ak5v7V" alt="Logo" />
            </a>
            <ul class="menu-links">
                <li><a href="{{ url_for('main') }}">Home</a></li>
                <li><a href="{{ url_for('add') }}">Add</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('index') }}">Logout</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>
